 :root {
        --primary: #9400D3;
        --dark-blue: #130c24;
        --black: #232020;
        --gray-dark: #666;
        --gray: #999;
        --gray-light: #bdbdbd;
        --beige: #f5f5f1;
        --gap--lg: 100px;
        --gap: 80px;
        --text-color: white;
        --light-icon: white;
        --dark-icon: var(--black);
        --anchor-color: var(--primary);
      }
body::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* altura do fade */
    pointer-events: none; /* não interfere em cliques */
    background: linear-gradient(to bottom, transparent, var(--dark-blue));
}

html {
        background-color: var(--dark-blue);
        color: var(--text-color);
      }
html {
        scroll-behavior: smooth;
        font-size: 62.5%;
      }
*{
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    font-family: poppins;
}
.header-container {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 1.5rem 2rem;
}

.nav-container {
    display: flex;
    gap: 20px;
}

a.btn, a.btn-nav {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    padding: 0.8rem 1.5rem;
    transition: 0.3s;
}

a.btn-nav:hover {
    color: var(--primary);
}

.btn-raised {
    background-color: var(--primary);
    color: var(--beige);
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-raised:hover {
    opacity: 0.8;
    cursor: pointer;
}
.container{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.texts{
    margin: 0 auto;
}

.intro-name, .intro-name strong{ 
    font-size: 9rem;
    font-weight: bold;
    line-height: 1;
    padding: 15px;
}
 .intro-name strong{
    color: var(--primary);
 }
.intro-text,.intro-text strong{
    flex: 1;
    font-size: 9rem;
    font-weight: bold;
    line-height: 1;
    padding: 15px;
}
.intro-text strong{
    color: var(--primary);
}
.text--xl{
    color: var(--gray);
    font-size: 3rem;
    padding: 15px;
}
.text--xl-2{
    color: var(--gray);
    font-size: 3rem;
    padding: 15px;
}
.img-container{
    display: flex;
}
.img-pedro{
    padding: 20px;
    border: none;
    border-radius: 50%;
}
.scroll-down {
    margin-top: 10rem;
        text-align: center;
        bottom: 25px;
        left: 0;
        right: 0;
      }

.scroll-down svg {
        --scroll-fill: var(--dark-icon);
        cursor: pointer;
        transition: fill .35s;
        animation: bounce 1.6s cubic-bezier(.445, .05, .55, .95) infinite;
      }

      .scroll-down svg:hover {
        --scroll-fill: var(--light-icon);
    }
 @keyframes bounce {
        50% {
          transform: translateY(-15px);
        }
      }    
#about-me{
    margin-top: 10rem;
    margin-right: 20rem;
    margin-left: 20rem;
    column-count: 2; /* número de colunas */
    column-gap: 3rem; /* espaço entre colunas */
    text-align: justify; /* deixa o texto alinhado */
    padding: 10px;
    height: 400px;
}

.title-text{
    font-size: 4rem;
    margin-bottom: 1.5rem;
    padding: 5rem;
    margin-left: 10rem;
}
.text-normal{
    font-size: 2rem;
    color: var(--gray);
}
.text-normal strong{
    color: var(--primary);
}
.portfolio{
    padding: 20px;
    display: grid;
    margin-left: 10rem;
    grid-template-columns: 500px 500px 500px;
    gap: 10rem;
}
.project-container{
     max-width: 650px;
    border:  var(--gray-dark);
    padding: 10rem;
    
    background-color:#4c008244;
    border-radius: 10px;
     box-shadow: 0 0 28px rgba(0, 0, 0, 0.35);
     transition: 0.3s;
}
.project-container:hover{
    scale: 1.1;
}
.project-images{
    border-radius: 50%;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.78);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hire-me{
    display: flex;
    justify-self: center;
    
}
.hire-me-title{
    font-size: 4rem;
    padding: 2rem;
    left: 2rem;
}
.inputs-container{
    flex-direction: column;
    background-color: #4c008244;
    padding: 10rem;
    margin-top: 10rem;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.35);
}
.float-input {
  position: relative;
  background-color: #666;
  border-radius: 8px;
  padding: 14px 10px 6px;
  width: 500px;
  margin-bottom: 5rem;
}

.float-input input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 1rem;
}

.float-input label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: .25s;
  color: #f5f5f1;
  pointer-events: none;
}

/* Quando digita ou foca */
.float-input input:focus + label,
.float-input input:not(:placeholder-shown) + label {
  top: 8px;
  font-size: 1.5rem;
  color:  #8c7aff;;
}
#btn-whats{
    width: 600px;
    background-color: var(--primary);
    color: var(--beige);
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    transition: 0.3s;
    text-decoration: none;
}
#btn-whats:hover{
    opacity: 0.8;
    cursor: pointer;
}